<%= form_for(@topic) do |f| %>
  <%= f.error_messages! %>

  <div class="field">
    <%= f.text_area :content, class: "form-control", placeholder: "何か書く..."%>
  </div>
  <div class="actions">
    <%= f.submit "投稿する" , class: "btn btn-primary" %>
  </div>
<% end %>
