<% if user.id != current_user.id %>
      <div class="item">
        <!-- <%= link_to user.name, @user %> -->
        <!-- <% if current_user.following?(user) && user.following?(current_user) %>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        <% end %> -->
      </div>

    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
<% end %>
