<p>こんにちは<%= @resource.email %>!</p>

<p>パスワードの変更を要求されました。/p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>違っていたら無視してください。</p>
<p>リンクにアクセスして新しいパスをつくるまで変更されません。</p>
